@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto.ttf); }

body {
  font-size: 16px; }

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0;
  margin: auto; }

.navigation-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  text-align: center; }

.logo-brand {
  width: auto;
  height: 100px; }

.nav-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  text-decoration: none;
  height: 100%;
  width: auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  color: #0d2763;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 1.25em; }
  .nav-item a:before {
    position: absolute;
    content: "";
    width: 65px;
    height: 1px;
    top: 0;
    left: 5%;
    border-top: 5px solid #333436; }

.nav-item a:hover {
  color: #fa254c;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms; }
  .nav-item a:hover:before {
    border-top: 5px solid #fa254c; }

.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center; }

.overlay {
  text-shadow: 0px 5px 5px black;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Lato"; }

.carousel-item {
  -webkit-filter: brightness(50%);
  filter: brightness(50%); }

.carousel {
  width: 100%;
  max-height: 1000px; }

h1 {
  font-size: 5em; }

h2 {
  font-size: 2.75em; }

p {
  font-size: 1.6875em; }

.btn-buy {
  font-size: 20px;
  height: 100%;
  width: auto;
  border-radius: 5px;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.25em;
  color: white;
  background-color: #fa254c; }

.align-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.column-very-small {
  width: 12.5%; }

.column-small {
  width: 18.75%; }

.column-normal {
  width: 50%; }

.col-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 33%; }

.col-side-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 66%; }

.column-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 62.5%; }

.content {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 100px; }

.align-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.font-warning {
  color: #fa254c; }

.font-thick {
  font-weight: bold; }

.font-lower {
  font-size: 14px; }

.video {
  position: absolute;
  bottom: -8%;
  left: 18.75%; }

.intro {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: #333436;
  margin-bottom: 20px; }
  .intro:before {
    position: absolute;
    content: "";
    width: 65px;
    height: 1px;
    bottom: -5px;
    left: 0;
    border-bottom: 5px solid #fa254c; }

.list-item {
  position: relative;
  color: #4d4d4d;
  font-size: 1.125em;
  font-family: Roboto; }

.col-text {
  font-family: Roboto;
  font-size: 1.5em;
  color: #4d4d4d; }

.image {
  width: 100%;
  height: 100%; }

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

/*.jumbotron:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 1000% 700%;
    transform: rotate(190deg);
    width: 130%;
height:55%;
background-color: white;
left: -5%;
bottom: -45%;
}
*/
.row {
  margin-right: 0;
  margin-left: 0; }

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px; }

#navbar {
  margin-bottom: 0; }

.alert {
  border-radius: 0; }

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-sm-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-sm-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-sm-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-sm-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-sm-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-sm-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-sm-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-sm-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-sm-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-sm-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-sm-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-sm-12 {
  position: relative;
  height: 100%;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0; }

.row {
  margin-right: 0;
  margin-left: 0; }

.footer {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: none; }

.panel {
  border: none; }

@media only screen and (max-width: 575px) {
  body {
    font-size: 6px; } }

@media only screen and (min-width: 576px) {
  body {
    font-size: 8px; } }

@media only screen and (min-width: 768px) {
  body {
    font-size: 10px; } }

@media only screen and (min-width: 992px) {
  body {
    font-size: 12px; } }

@media only screen and (min-width: 1200px) {
  body {
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */